
body {
    overflow-y: hidden;
    background-color: #dddddd;
}

.big-alert {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    color: blue;
    z-index: 100;
}

.big-alert-text {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

md-content.md-default-theme {
  background-color: #dddddd;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 20px;
  padding: 20px; }

.md-card {
  background-color: #fff;
}

.event-item {
  max-width: 1000px;
  margin: 0 auto 0 auto;
}

.md-card {
    min-width: 280px;
    width: 280px;
    min-height: 200px;
    height: 200px;
}

.s16 {
  
  font-size:24px;

}

a.userLink {
    width: 150px;
    height: 150px;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    color: #000000;
    text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


/* ---- below is outdated ---- */
.grid {
  background: #DDD;
  max-width: 1200px;
}
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- .grid-item ---- */
.grid-item {
  float: left;
  width: 200px;
  height: 200px;
  background: #FFF;
  border: 6px solid #333;
  border-color: #dddddd;
}
.grid-item--width2 { width: 280px; }
.gridListdemoDynamicTiles {
	overflow-y: scroll;
}
/* -------- above is outdated -----------*/


.gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 50%; }
.gridListdemoDynamicTiles md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
.gridListdemoDynamicTiles .s64 {
  font-size: 64px; }
.gridListdemoDynamicTiles .s32 {
  font-size: 48px; }
.gridListdemoDynamicTiles md-icon.fa {
  display: block;
  padding-left: 0; }
.gridListdemoDynamicTiles md-icon.s32 span {
  padding-left: 8px; }
.gridListdemoDynamicTiles md-grid-list {
  margin: 8px; }
.gridListdemoDynamicTiles .gray {
  background: #53565A;}
.gridListdemoDynamicTiles .green {
  background: #009917;}
.gridListdemoDynamicTiles .yellow {
  background: #ffff8d; }
.gridListdemoDynamicTiles .blue {
  background-color: #00A3E0; }
.gridListdemoDynamicTiles .darkBlue {
  background: #80d8ff; }
.gridListdemoDynamicTiles .deepBlue {
  background: #448aff; }
.gridListdemoDynamicTiles .purple {
  background: #b388ff; }
.gridListdemoDynamicTiles .lightPurple {
  background: #8c9eff; }
.gridListdemoDynamicTiles .red {
  background: #B90E2F; }
.gridListdemoDynamicTiles .orange {
  background: #FF5200}
.gridListdemoDynamicTiles .picnic {
  background-image: url("img/picnic.jpg"); }
.gridListdemoDynamicTiles .custom {
  background-image: url("img/dance.gif"); }
.gridListdemoDynamicTiles md-grid-tile {
  transition: all 300ms ease-out 50ms; }
.gridListdemoDynamicTiles md-grid-tile md-icon {
  padding-bottom: 32px; }
.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.0);
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+59,333333+100 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	height: 12%;
 }
.gridListdemoDynamicTiles md-grid-tile-header figcaption {
  height: 40px;
  width: 100%; 
}
.gridListdemoDynamicTiles md-grid-tile-header figcaption h3 {
  font-size: 18px;
  margin: 0 0 0 4px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  color: white;
  }
.gridListdemoDynamicTiles md-grid-tile-footer{

}

.gridListdemoDynamicTiles md-grid-tile-header{
    /*background-color: rgba(0, 0, 0, 0.5);*/
}  

.gridPad{
	height:100%;
	width:8px;
}  

.dynamicBox{

}

.md-dialog-container {
    background-color: rgba(0, 0, 0, 0.5);
}
pre{
	white-space: pre-wrap;
}

.post{
	width: 94%;
}