body {
}

md-content.md-default-theme {
  background-color: whitesmoke;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 20px;
  padding: 20px; }

.md-card {
  background-color: #fff;
}

.event-item {
  max-width: 1000px;
  margin: 0 auto 0 auto;
}

.s16 {
  
  font-size:24px;

}