body {
    background-color: #dddddd;
}

md-content.md-default-theme {
  background-color: #dddddd;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.whiteframedemoBasicUsage md-whiteframe {
  background: #fff;
  margin: 20px;
  padding: 20px; }

.md-card {
  background-color: #fff;
}

.event-item {
  max-width: 1000px;
  margin: 0 auto 0 auto;
}

.s16 {
  
  font-size:24px;

}

a.userLink {
    width: 150px;
    height: 150px;
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    color: #000000;
    text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


/* ---- grid ---- */

.grid {
  background: #DDD;
  max-width: 1200px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 200px;
  height: 200px;
  background: #FFF;
  border: 6px solid #333;
  border-color: #dddddd;
}

.grid-item--width2 { width: 280px; }


